page-boards {
    font-family: "Lobster", serif;
    font-size: 18px;

    #add-board {
        box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.5);
    }
    #add-board icon{
        padding-left: 10px;
        font-size:20px;
    }
}
