page-log-in {
    font-family: "Lobster", serif;
    font-size: 18px;

    ion-content {
        overflow-y: hidden !important;
    }
    .main_container {
        box-shadow: 0 22px 59px 0 rgba(0, 0, 0, 0.5);
        margin-top:25px;
    }

    .container-shadow{
        box-shadow: 0 22px 59px 0 rgba(0, 0, 0, 0.5);
    }
    
    ion-card-header{
        font-size:22px;
    }
}
