page-board-users {
    font-family: "Lobster", serif;
    font-size: 18px;

    .delete-button{
        background-color:#f53d3d;
        color:white;
    }
    .down-button{
        background-color:#006dcc;
        color:white;
    }
    .email-container{
        font-family: "Lato", serif;
    }
}
