<!--
  Generated template for the BoardUsersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title text-center>Usuarios del Tablero</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-grid>
      <ion-row>
        <ion-col col-8>
          <ion-searchbar
            [(ngModel)]="this.busqueda"
            [showCancelButton]="shouldShowCancel">
          </ion-searchbar>
        </ion-col>
        <ion-col col-4>
            <button ion-button (click)="this.search()">Buscar</button>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-list col-12>
            <ion-item col-12 *ngFor="let usuario of this.busquedas">
              <ion-thumbnail item-start>
                <img src="img/thumbnail-puppy-1.jpg">
              </ion-thumbnail>
              <h2>{{ usuario.nombre }}</h2>
              <p class="email-container">{{ usuario.email }}</p>
              <button col-2 offset-10 outine round right class="down-button">
                  <ion-icon name="arrow-down" (click)="this.addUser(usuario)"></ion-icon>
              </button>
            </ion-item>
            <h3 *ngIf="!(this.busquedas && this.busquedas.length != 0)" padding-top text-center>
              Ningun Usuario Encontrado
            </h3>
          </ion-list>
      </ion-row>
      <ion-row class="subtitle-container" text-center>Usuarios Agregados</ion-row>
      <ion-row>
          <ion-list col-12>
            <ion-item col-12 *ngFor="let usuario of this.tablero.usuarios">
              <ion-thumbnail item-start>
                <img src="img/thumbnail-puppy-1.jpg">
              </ion-thumbnail>
              <button col-2 offset-10 outine round right class="delete-button">
                  <ion-icon name="close" (click)="this.removeUser(usuario)"></ion-icon>
              </button>
              <h2>{{ usuario.nombre }}</h2>
              <p class="email-container">{{ usuario.email }}</p>
            </ion-item>
            <h3 *ngIf="!(this.tablero.usuarios && this.tablero.usuarios.length != 0)" padding-top text-center>
              Ningun Usuario Asignado
            </h3>
          </ion-list>
      </ion-row>
    </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar  color="primary">
    <ion-title text-center>With  <ion-icon name="heart"></ion-icon> from UNAL</ion-title>
  </ion-toolbar>
</ion-footer>
