// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-app{
    font-family: "Lobster", serif;
}
.alert-style{
    font-family: "Lobster", serif;
}

ion-navbar{
    display:block;
    background-color: #006dcc;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.5);
    font-size:40px;
}
ion-footer{
    display:block;
    background-color: #006dcc;
    box-shadow: 0px -5px 6px rgba(0, 0, 0, 0.5);
}
ion-content {
    background-color: #CACCC8;
}
ion-input{
    font-family: "Lato", serif;
}
#site-title-container{
    display:block;
}
#site-title{
    font-size:38px;
}
#site-title span{
    color: #006dcc;
}
.divider{
    border-bottom: 2px solid #006dcc;
    margin-bottom: 10px;
    margin-top: 10px;
}
.subtitle{
    text-shadow: 1px 1px #006dcc;
    font-size:38px;
}
.main-container{
    background-color:rgba(240,240,240,0.8)
}
.subtitle-container{
    display:block;
    font-size:28px;
    text-shadow:1px 1px 2px #006dcc;
    border-bottom: 2px solid #006dcc;
    border-top: 2px solid #006dcc;
}